body.dark {
    background-color: #000000;
    color: #ffffff;
}
  
body.dark .block-dl {
      background-color: var(--obsc);
      color: var(--primL);
    }
  
body.dark .shadow-dl {
    box-shadow: 5px 5px 5px var(--primL);
}

body.dark .butn-dl {
    background-color: var(--primL);
    color: var(--primD);
    border: 2px solid var(--primL);
}

body.dark .butn-out-dl {
    background-color: transparent;
    color: var(--primL);
    border: 2px solid var(--primL);
}

body.dark .butn-out-dl:hover {
    background-color: var(--primL);
    color: var(--primD);
} 

body.dark .bk-dl {
    background-color: var(--obsc);
}

body.dark .bk2-dl {
    background-color: var(--primD);
}


body.dark .txt-dl {
    color: var(--primL);
}

body.dark .hr-dl {
    border:  1px solid var(--primL);
}
  