body {
    background: #000;
}
.cv-constainer {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
}

/* font ---------------------------------------------------------------------- */
a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}