body.light {
    background-color: #ffffff;
    color: #000000;
}    
  
body.light .block {
    background-color: var(--lum);
    color:var(--primD);
}  

body.light .shadow-dl {
    box-shadow: 0px 10px 10px var(--primD);
}

body.light .butn-dl {
    background-color: var(--primD);
    color: white;
    border: 2px solid var(--primD);
}

body.light .butn-out-dl {
    background-color: transparent;
    color: var(--primD);
    border: 2px solid var(--primD);
}

body.light .butn-out-dl:hover {
    background-color: var(--primD);
    color: white;
}

body.light .bk-dl {
    background-color: var(--lum);   
}

body.dark .bk2-dl {
    background-color: var(--primL);
}

body.light .txt-dl {
    color: var(--primD);
}

body.light .hr-dl {
    border: 1px solid var(--primD);
}

  