main {
    width: 100%;
    width: 768px;
}

section {
    width: 100%;

}

.bando {
    position: relative;
    max-width: 768px;
    width : 100%;
    height: 300px;
    /* border-radius: 10px;
    overflow: hidden; */
}

.bando img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bando-txt {
    position: absolute;
    top: 50%;
    left: 8%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.parallax1, .parallax2, .parallax3, .parallax4 {
    /* Set a specific height */
    height: 443px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.parallax1 {
    background-image: url(../img/16-9/band1.png);
}
.parallax2 {
    background-image: url(../img/16-9/band2.png);
}
.parallax3 {
    background-image: url(../img/16-9/band3.png);
}
.parallax4 {
    background-image: url(../img/16-9/band4.png);
}

.parallax-caption {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}


.symfony {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.symfony img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.job {
    border-radius: 8px;
    overflow: hidden;
}

@media screen and (max-width: 800px) {
    .parallax1, .parallax2, .parallax3, .parallax4 {
        height: 202px; 
    }


}

