nav {
    background-color:  rgba(0, 0, 0, 0.5)
}

.nav-logo {
    width: 120px;
    height: 120px;
    border: 1px solid  var(--succ);
    border-radius: 5px;
    background-image: url(../../img/square/logo512.png);
    background-size: cover;
    cursor: pointer;
}

.nav-content {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.nav-up {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-down {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 576px) {
    .nav-logo {
        width: 80px;
        height: 80px;
    }
    .nav-content {
        height: 80px;
    }    
}