.werk-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.werk-trunk {
    width: 100%;
    height: 100%;
    max-width: 800px;
    background-image: url(../../img/9-16/back1.png);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
}

header , main {
    width: 100%;

}
