:root {
    --primL: #98C1D9;
    --primD: #052F5F;
    --succ: #4eb151;
    --warn: #FFB400;
    --danger: #D90429;
    --obsc: #242628;
    --lum: #dee2e6;  

    --secLight: #8FBCCA;
    --thirLight:  #5D9FBA;
    --secDark: #3C7693;
    --thirDark: #0d2739;

    --succ2: #106a37;
    --succ3: #0c8b3d;


}

/* basis background colors */
.bk-light {
    background-color: var(--primL);
}
.bk-dark {
    background-color: var(--primD);
}
.bk-succ {
    background-color: var(--succ);
}
.bk-warn {
    background-color: var(--warn);
}
.bk-danger {
    background-color: var(--danger);
}
.bk-obsc {
    background-color: var(--obsc);
}
.bk-lum {
    background-color: var(--lum);
}
/* basis text colors */
.txt-light {
    color: var(--primL);
}
.txt-dark {
    color: var(--primD);
}
.txt-succ {
    color: var(--succ);
}
.txt-warn {
    color: var(--warn);
}
.txt-danger {
    color: var(--danger);
}
.txt-obsc {
    color: var(--obsc);
}
.txt-lum {
    color: var(--lum);
}